body {
	background-color: #6b6963;
}


img {
	width: 100px;
	height: 50px;
	max-width: 400px;
	max-height: 400px;
	text-align: center;
	margin-top: -3%;
}

#title {
	text-align: center;
	margin-top: 20px;
	background-color: #d4c8a7;
	border-radius: 10px;
	margin-left: 20px;
	margin-right:20px;
}

h2 {
	font-family: Doto;
	font-weight: bolder;
}

#crypto1 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -30%;
	width: 200px;
	height: 130px;
}

#crypto2 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -30%;
}

#crypto3 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -30%;
}

h3 {
	margin-top: 20px;
	font-family: Raleway;
}

table {
	text-align: center;
}

p {
	font-family: Raleway;
}
